<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__top">
				<div class="footer__top-right">
					<h5>השאר תמיד מעודכן! 🚀</h5>
					<p>הירשם לרשימת התפוצה הבלעדית שלנו וקבל את הסיפורים הטריים ביותר מצוות abra</p>
				</div>

				<div class="footer__form">
					<form action="">
						<div class="footer__form-body">
							<div class="footer__form-group">
								<!-- error must add class 'has-error' to element 'form__group' -->
								<div class="form__group">
									<label class="form__label-text" for="footer-email">כתובת מייל *</label>
									<input id="footer-email" type="email" class="form__input" placeholder="לדוגמה: Chen123@gmail.com" />
									<span class="form__error-message">
										<span class="icon icon--info"></span>
										<span>הודעה</span>
									</span>
								</div>
								<label class="form__checkbox">
									<input type="checkbox" name="" class="form__checkbox-input" />
									<span class="form__checkbox-box">
										<span class="icon icon--check" aria-hidden="true"></span>
									</span>
									<span class="form__checkbox-label">אני מאשר לקבל הודעות שיווקיות מאברא</span>
								</label>
							</div>

							<button type="submit" role="button" class="btn btn--primary">הרשמה</button>
						</div>
					</form>
				</div>
			</div>

			<nav class="footer__nav" aria-label="תפריט כותרת תחתונה">
				<ul class="footer__menu" data-spollers="992,max">
					<li class="footer__menu-item">
						<button role="button" class="footer__menu-title" aria-expanded="false" data-spoller>
							<span>אנשים</span>
							<span>
								<span class="icon icon--chevron-down" aria-hidden="true"></span>
							</span>
						</button>
						<ul>
							<li>
								<a href="#">אודותינו</a>
							</li>
							<li>
								<a href="#">הסיפור שלנו</a>
							</li>
							<li>
								<a href="#">משקיעים ודריקטוריון</a>
							</li>
							<li>
								<a href="#">קריירה</a>
							</li>
							<li>
								<a href="#">צור קשר</a>
							</li>
						</ul>
					</li>

					<li class="footer__menu-item">
						<button role="button" class="footer__menu-title" aria-expanded="false" data-spoller>
							<span>תהליכים</span>
							<span>
								<span class="icon icon--chevron-down" aria-hidden="true"></span>
							</span>
						</button>
						<ul>
							<li>
								<a href="#">בריאות</a>
							</li>
							<li>
								<a href="#">ביטחון</a>
							</li>
							<li>
								<a href="#">פינטק</a>
							</li>
							<li>
								<a href="#">הייטק</a>
							</li>
							<li>
								<a href="#">ממשלתי</a>
							</li>
						</ul>
					</li>
					<li class="footer__menu-item has-cols-2">
						<button role="button" class="footer__menu-title" aria-expanded="false" data-spoller>
							<span>טכנולוגיות</span>
							<span>
								<span class="icon icon--chevron-down" aria-hidden="true"></span>
							</span>
						</button>
						<ul>
							<li>
								<a href="#">מערכות CRM</a>
							</li>
							<li>
								<a href="#">מערכות ERP</a>
							</li>
							<li>
								<a href="#">R&D Solutions</a>
							</li>
							<li>
								<a href="#">Cloud Solutions</a>
							</li>
							<li>
								<a href="#">Business Intelligence (BI)</a>
							</li>
							<li>
								<a href="#">E-Commerce & Marketing Automation</a>
							</li>
							<li>
								<a href="#">Strategy Realization</a>
							</li>
							<li>
								<a href="#">Cyber Consulting</a>
							</li>
							<li>
								<a href="#">Training</a>
							</li>
							<li>
								<a href="#">בלוג טכנולוגיה</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>

			<div class="footer__logo">
				<span class="icon icon--logo" aria-hidden="true"></span>
			</div>

			<div class="footer__bottom">
				<div class="footer__contacts">
					<ul class="contacts-list">
						<li>כתובתנו: הפנינה 8, רעננה</li>
						<li>
							<a href="tel:+97250944503">+972-50944503</a>
						</li>
						<li>
							<a href="mailto:support@abra-it.com">support@abra-it.com</a>
						</li>
					</ul>
					<ul class="socials">
						<li>
							<a href="#">
								<span class="icon icon--x" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon icon--tt" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon icon--in" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon icon--fb" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon icon--instagram" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__copyrights">
					<p>© כל הזכויות שמורות לאברא 2025</p>
					<ul>
						<li>
							<a href="#">סטטוס</a>
						</li>
						<li>
							<a href="#">מדיניות פרטיות</a>
						</li>
						<li>
							<a href="#">תנאי שימוש</a>
						</li>
						<li>
							<a href="#">הגדרות עוגיות</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
