
{{#if swiper}}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{{/if}}

{{#if lg}}
<script src="https://cdn.jsdelivr.net/npm/lightgallery/lightgallery.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery/plugins/zoom/lg-zoom.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js"></script>
{{/if}}

{{#if fancy}}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5/dist/fancybox/fancybox.umd.js"></script>
{{/if}}

<script src="/js/modules/spollers.js"></script>

{{#if events}}
<!-- <script src="/js/modules/events.js"></script> -->
{{/if}}

<script type="module" src="/js/app.js"></script>
