<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<button class="header__burger" type="button" aria-expanded="false">
				<span class="icon icon--list" aria-hidden="true"></span>
				<span class="sr-only">Open menu</span>
			</button>
			<a href="#" aria-label="Home" class="header__logo">
				<picture>
					<source media="(width < 36rem)" srcset="img/svg/logo-short.svg" />
					<img aria-hidden="true" loading="eager" decoding="async" src="img/svg/logo-light.svg" alt="Logo" width="120" height="24" />
				</picture>
			</a>
			<nav class="header__nav">
				<ul>
					<li>
						<a href="#" aria-expanded="false">About Us</a>
					</li>
					<li class="has-children">
						<a href="#" aria-expanded="false">IT-Solutions</a>
						<span class="icon icon--chevron-down"></span>
					</li>
					<li>
						<a href="#" aria-expanded="false">Portfolio</a>
					</li>
					<li>
						<a href="#" aria-expanded="false">Technovation</a>
					</li>
					<li class="active">
						<a href="#" aria-expanded="false">Events</a>
					</li>
					<li>
						<a href="#" aria-expanded="false">Careers</a>
					</li>
					<li>
						<a href="#" aria-expanded="false">InvestorHub</a>
					</li>
				</ul>
			</nav>
			<div class="header__actions">
				<div class="language">
					<button type="button" class="language__swither" role="button" aria-label="Select language, current language English" aria-expanded="false" aria-controls="language-options">
						<div class="language__value-wrapper">
							<span class="language__current-value" lang="en" xml:lang="en">
								<img src="img/svg/flags/gb.svg" aria-hidden="true" />
							</span>
						</div>
					</button>
					<ul class="language__submenu" role="listbox">
						<li class="language__submenu-item">
							<a tabindex="-1" aria-selected="false" lang="he" hreflang="he" data-value="he" data-language-name="עברית" data-base-aria-label="בחר שפה, שפה נוכחית" role="option" href="#">
								<span lang="he" xml:lang="he">
									<img src="img/svg/flags/il.svg" aria-hidden="true" />
								</span>
							</a>
						</li>
						<li class="language__submenu-item">
							<a tabindex="-1" aria-selected="false" lang="en" hreflang="en" data-value="en" data-language-name="English" data-base-aria-label="Select language, current language" role="option" href="#">
								<span lang="en" xml:lang="en">
									<img src="img/svg/flags/gb.svg" aria-hidden="true" />
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="header__search">
					<button class="btn btn--outline-light header__search-btn" role="button" aria-label="Search">
						<span class="icon icon--search" aria-hidden="true"></span>
						<span>Search</span>
					</button>
				</div>
				<div class="header__contact-us">
					<button class="btn btn--primary" role="button" aria-label="Contact Us">
						<span class="icon icon--headphones" aria-hidden="true"></span>
						<span>Contact Us</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</header>