@font-face {
	src: url("../../fonts/SimplerPro-Black.woff2"), url("../../fonts/SimplerPro-Black.woff");
	font-family: "Simpler Pro";
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../../fonts/SimplerPro-Regular.woff2"), url("../../fonts/SimplerPro-Regular.woff");
	font-family: "Simpler Pro";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../../fonts/SimplerPro-Bold.woff2"), url("../../fonts/SimplerPro-Bold.woff");
	font-family: "Simpler Pro";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}




