:root {
	--white: #fff;
	--black: #000;
	--black-pearl: #050f29;
	--bunting: #121f3f;
	--orange-peel: #ff9f00;
	--my-sin: #ffb314;
	--silver: #c3c3c3;
	--rhino: #263353;
	--torch-red: #f81f1f;
	--mariner: #2e5dd2;
	--silver-chalice: #a4a4a4;
	--white-linen: #fcf9f5;
	--font-primary: "Simpler Pro", sans-serif;
}
